/* first made site for mobile then use media for desktop */
/* ul is row and li is col so apply media on ul */
@media (min-width: 550px)
{
    section ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    
    }

    section li{
        flex-basis: 49.5%;
    }

    figure img{
        object-position: 0;
    }

    section ul,
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    section li,
    .social,
    address {
        flex-basis: 49.5%;
    }

    footer address{
        margin-top: 0;
    }

    .missiontext{
        display: flow-root;
        max-width: 900px;
    }
    .missionimg {
        float: left;
        shape-outside: polygon(35.84% 94.87%, 34.64% 87.05%, 51.64% 4.06%, 55.1% 2.38%);
        max-height: 211px;
    }

    header {
        padding: 3rem;
    }
    /* navigation: logo on the top line, the rest of the navigation on the second line */
    nav ul {
        justify-content: center;
        gap: 1.2em;
    }
    nav li{
        flex-basis: auto;
        margin-bottom: 0;
    }
    nav a {
        color: var(--color1);
        background-color: transparent;
        padding: 0;
    }
    nav a:hover {
        color: var(--color2);
        background-color: transparent;
    }
    .mobile{
        display: none;
    }
}

@media (min-width: 800px)
{
    section h2{
        margin-left: 100px;
    }

    section li{
        flex-basis: 32.5%;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    footer address {
        flex-basis: 65.5%;
        margin-top: 0px;
    }
    nav ul {
        justify-content: flex-end;
    }
    nav li:first-child {
        flex-basis: auto;
        margin: 0 auto;
        order: 2;
    }
    nav li:nth-child(2),
    nav li:nth-child(3) {
        order: 1;
    }
    nav li:nth-child(4),
    nav li:nth-child(5) {
        order: 3;
    }

    section li.tablet-card3{
        flex-basis: 30%;
    }
}

@media (min-width: 550px) and (max-width: 799px){
    section li.tablet-card3{
        flex-basis: 100%;
    }
    section li.tablet-card3
    img{
        object-position: 0 -350px;
    }
    /* object-position is positioning on x and y axis x is correct so set to 0 and y for upward dir negative value */

    header{
        padding: 1rem;
    }
    header nav li{
        flex-basis: auto;
        margin-bottom: 0;
        margin: 0px 10px;
        gap: 1.2rem;
    }
    header a{
        background-color: transparent;
        text-decoration: none;
        color: black;
    }
    .mobile{
        display: none;
    }
}

@media (max-width: 550px){
    .peecee{
        display: none;
    }
}